/* = Definitions needed by our mkwww tweaks of upstream asciidoctor styles. */

/* == Restore section heading anchors ("permalinks") */

:is([role="heading"], h1, h2, h3, h4, h5, h6) :is(.anchor, .anchor-cancel) {
  position: absolute;
  margin-left: -1.25ex;
  width: 1.75ex;
  text-decoration: none;
}

:not(:target, :target>*):is([role="heading"], h1, h2, h3, h4, h5, h6):hover .anchor::before {
  content: "§";
}

:is(:target, :target>*):is([role="heading"], h1, h2, h3, h4, h5, h6) .anchor-cancel::before {
  content: "×";
}

/* == Restore padding */

ul, ol {
  padding: 0;
}
