/* = Definitions needed by our mkwww extensions to docutils. */

/* == Section heading anchors ("permalinks") */

:is([role="heading"], h1, h2, h3, h4, h5, h6) :is(.anchor, .anchor-cancel) {
  position: absolute;
  margin-left: -1.25ex;
  width: 1.75ex;
  text-decoration: none;
}

:not(:target, :target>*):is([role="heading"], h1, h2, h3, h4, h5, h6):hover .anchor::before {
  content: "§";
}

:is(:target, :target>*):is([role="heading"], h1, h2, h3, h4, h5, h6) .anchor-cancel::before {
  content: "×";
}

/* == :ext: role */

a.extlink-icon {
  display: inline-block;
  transform: scaleX(-1);
  text-decoration: inherit;
  margin-left: 0.3ex;
}
a.extlink-icon::after {
  content: "⎋";
}
