/* = Definitions needed by our mkwww dtlist extensions to docutils. */

/* == Layout */

/* details-list has same indent as all other lists */
.dtlist details, ul, ol, dd {
  /* both firefox and chrome default to 40px, this is half of that */
  margin-inline-start: 20px;
  padding-inline-start: 0;
}
.dtlist details > *, li, dd {
  padding-inline-start: 0.5ex; /* space for permalink anchor */
}

/* details-list summary looks like a normal list-item */
.dtlist summary, li {
  list-style-position: outside;
}
.dtlist summary:only-child {
  list-style-type: disc;
}

/* details lists contents have margins, like normal paragraphs */
.dtlist:not(.simple) > details,
.dtlist:not(.simple) > details > :not(summary) {
  /* we do it like this as defining margins on both details & summary causes a
   * bug in chromium which breaks margin-collapse between closed details boxes,
   * leading to too-wide margins. bug is not present in firefox. */
  margin-block-start: 1em; margin-block-end: 1em;
}
.dtlist.simple > details {
  margin-block-start: 0; margin-block-end: 0;
}

/* == ctls */

.dtlist summary .dtlist-ctl {
  padding: 0 0.5ex;
  font-size: smaller;
  user-select: none;
}
.dtlist summary .dtlist-ctl:hover {
  cursor: pointer;
}
.dtlist summary .dtlist-ctl::before {
  content: "[↴|";
}
.dtlist summary .dtlist-ctl::after {
  content: "]";
}
.dtlist details[open] > summary .dtlist-ctl::before {
  content: "[↰|";
}
.dtlist details[open] > summary .dtlist-ctl::after {
  content: "]";
}
.dtlist details[open] > summary .dtlist-ctl {
  background-color: color-mix(in srgb, var(--CanvasText) 25%, var(--Canvas));
}

.dtlist details:not([open]) > summary .dtlist-ctl {
  background-color: color-mix(in srgb, var(--AccentColor) 50%, var(--Canvas));
}

