html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* https://github.com/w3c/csswg-drafts/issues/8184 */
details > * {
  box-sizing: border-box;
}

body {
  line-height: 1.5; /* many chars are taller than English, e.g. Chinese */
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}
