/* = Definitions needed by our mkwww tweaks of upstream asciidoctor styles. */

/* == Restore section heading anchors ("permalinks") */

main .main-asciidoc :is(h1, h2, h3, h4, h5, h6) .anchor {
  position: absolute;
  text-decoration: none;
  width: 1.75ex;
  margin-left: -1.25ex;
  visibility: hidden;
}

main .main-asciidoc :is(h1, h2, h3, h4, h5, h6) .anchor::before {
  content: "§";
}

main .main-asciidoc :is(h1, h2, h3, h4, h5, h6):hover .anchor {
  visibility: visible;
}

/* == Restore padding */

main .main-asciidoc ul, main .main-asciidoc ol {
  padding: 0;
}
