/* = Definitions for supporting hand-coded .html.j2 files. */

/* == Section heading anchors ("permalinks") */

main .main-mkwww-j2 :is(h1, h2, h3, h4, h5, h6) .anchor {
  position: absolute;
  text-decoration: none;
  width: 1.75ex;
  margin-left: -1.25ex;
  visibility: hidden;
}

main .main-mkwww-j2 :is(h1, h2, h3, h4, h5, h6) .anchor::before {
  content: "§";
}

main .main-mkwww-j2 :is(h1, h2, h3, h4, h5, h6):hover .anchor {
  visibility: visible;
}
